{% extends 'base.html' %}

{% block head %}
    <style>
        .categories {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 5px;
        }
        .category-btn {
            transition-duration: 0.3s;
            font-size: 110%;
            background: rgba(200,200,200,0.3);

            border: 1px solid #000;
            border-radius: 100px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .category-btn:hover {
            cursor: pointer;
            background: rgb(200,200,200);
        }
        .category-btn:active {
            background: rgba(160,160,160);
            color: #fff;
        }

        .videos-table {
            position: relative; left: 50%;
            transform: translateX(-50%);

            width: 90%;
            padding: 10px;
            background: rgb(245,245,245);
        }
        .video-td {
            width: 25%;
            border: 1px solid rgb(200,200,200);
        }
        .video {
            width: 75%;
            aspect-ratio: 1.5;
            
            position: relative; left: 50%;
            transform: translateX(-50%);
            margin: 0.5%;
        }
        :root {
            --textsize: 110%
        }
        .title {
            font-size: var(--textsize);
        }
        .views {
            font-size: var(--textsize);
            position: relative; top: calc(0px - 4.5ch);
            padding-right: 7px;

            text-align: right;
            color: rgb(100,100,100);
        }
        .genre {
            font-size: 105%;
            position: relative; top: calc(0px - 4.5ch);
            color: rgb(50,50,50);
        }
        a {
            text-decoration: none;
            color: #000;
        }

        .videos-handler-btn {
            transition-duration: 0.3s;
            font-size: 120%;
            margin: 10px;

            background: rgb(30,144,255);
            border: 2px solid rgb(15, 122, 228); /* this color is the mean of the hovering bg color and the normal bg color */
            color: #000;

            border-radius: 5px;
        }
        .videos-handler-btn:hover {
            cursor: pointer;
            background: rgb(0, 101, 202);
        }
        .videos-handler-btn:active {
            color: #fff;
        }
    </style>
{% endblock %}

{% block code %}
    <h1 style="text-align: center;">Home Page</h1>
    <div class="categories">
        <p style="font-size: 110%;" id="genre">Current category: all</p>

        <button class="category-btn" onclick="change_genre('all')">all</button>
        {% for genre in all_videos_by_genre %}
            <button class="category-btn" onclick="change_genre('{{genre}}')">{{genre}}</button>
        {% endfor %}
    </div>
    <table class="videos-table" id="all">
        <!--videos list = all_videos_category-->
        {% for videos_list in all_videos_category %}
            <tr>
                {% for video in videos_list %}
                    <td class="video-td">
                        <a href="/watch/{{video['id']}}">
                            {% if video['path'] %}
                                <video class="video">
                                    <source src="{{url_for('static', filename=video['path'])}}" type="video/mp4">
                                </video>
                            {% endif %}
                            <p class="title">
                                {{video["title"]}}
                            </p>
                            <p class="views">
                                {% if video["views"] %}
                                    views: {{video["views"]}}
                                {% endif %}
                            </p>
                            <p class="genre">
                                {% if video["genre"] %}
                                    genre: {{video["genre"]}}
                                {% endif %}
                            </p>
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% for videos_genre in all_videos_by_genre %}
        <table class="videos-table" style="display: none;" id="{{videos_genre}}">
            {% if all_videos_by_genre[videos_genre] == [[]] %}
                <td class="video-td" style="border: transparent;position: relative;left: 50%;transform: translateX(-50%);">
                    <p>The genre you were looking for does not have any videos yet</p>
                </td>
            {% endif %}
            {% for video_list in all_videos_by_genre[videos_genre] %}
                <tr>
                    {% for video in video_list %}
                        <td class="video-td">
                            <a href="/watch/{{video['id']}}">
                                {% if video['path'] %}
                                    <video class="video">
                                        <source src="{{url_for('static', filename=video['path'])}}" type="video/mp4">
                                    </video>
                                {% endif %}
                                <p class="title">
                                    {{video["title"]}}
                                </p>
                                <p class="views">
                                    {% if video["views"] %}
                                        views: {{video["views"]}}
                                    {% endif %}
                                </p>
                                <p class="genre">
                                    {% if video["genre"] %}
                                        genre: {{video["genre"]}}
                                    {% endif %}
                                </p>
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <script>
        var all_genres = "{{genres}}".split("&")
        for (var i = 1; i < all_genres.length; i++){
            all_genres[i] = all_genres[i].slice(4) // from position 4(not include) to the end of the string
        }
        all_genres.push("all")
        console.log(all_genres)
        function change_genre(to_genre){
            for (var genre of all_genres){
                document.getElementById(genre).style.display = "none"
            }
            document.getElementById(to_genre).style.display = "block"
            document.getElementById("genre").innerHTML = "Current category: " + to_genre
        }
    </script>
{% endblock %}